@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto+Slab:wght@500&display=swap');
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 780px;
 width: 500px;
 margin: auto;
 background-color: black;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-num{
 font-family: 'Orbitron', sans-serif;
 background-color: #9e9d9ca0;
 font-size: 40px;
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 100%;
 height: 80%;
}

#btn {
 background-color: #7a6804;
  
}
 
input[type=button] {
 font-family: 'Orbitron', sans-serif;
 background-color: #044f5c;
 color: white;
 font-size: 40px;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 82%;
 outline: none;
}

input:active[type=button] {
 background: #2f0139;
 font-size: 30px;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}